{% extends 'base.html' %}

{% block title %}
    mainpage
{% endblock title %}

{% block body %}


<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">通告~~~</div>
  <div class="card-body">
    <h5 class="card-title">A Demo for interview：</h5>
    <p class="card-text">Github:<br>
    	<a  href="https://github.com/sshuangliu/mysite" target="_blank" style="color: black">https://github.com/sshuangliu/mysite/</a><br>
    	<br>
    Zhihu:<br><a  href="https://www.zhihu.com/people/alex-49-53" target="_blank" style="color: black">https://www.zhihu.com/people/alex-49-53</a>
<br><br>
    Cisco TAC Great China Hotline:4008108886<br>
    CCO ID:xxxx<br>

    </p>
  </div>
</div>


{% endblock body %}