{% extends 'base.html' %}

{% block title %}
    mainpage
{% endblock title %}

{% block body %}


<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">通告~~~</div>
  <div class="card-body">
    <h5 class="card-title">网址信息：</h5>
    <p class="card-text">PRTG:<br>
      <a  href="https://x.x.x.x/" target="_blank" style="color: black">https://x.x.x.x/</a><br><br>
    Solarwinds:<br><a  href="http://x.x.x.x" target="_blank" style="color: black">http://x.x.x.x/</a></p>
  </div>
</div>


{% endblock body %}